li a {
    color: rgb(255, 255, 255);
    font-size: 128px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
  }
   


body {
    background: white url("images/background.jpg") no-repeat;
}